.current-weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.city {
    font-size: 2rem;
}

.weather-figures {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.temperature {
    text-align: right;
    font-size: 4rem;
}